<head>
  <style>
    body {
    background-color: #353638;
    text-align: center;
    color:872699;
    font-family:copperplate;
    }
    h1 {
      font-size: 50px;color:872699;
    }
    h2 {
      font-size: 40px;color:872699;
    }
    li {
      color:ffffff;
    }
    label {
      color:872699;
    }
  </style>
</head>

<h1> <%= @game.attacker.name %> loses </h1>